<h1><%= @user.name %>, Welcome to iTravel!</h1>

<h4> Would you like to create a new destination entry?</h4>
<h4> Would you like to view previous travels? </h4>
<h4> Would you like to view others adventures? </h4>
