<h1><%= @user.name %>, Welcome to iTravel!</h1>
<br>
<p> Record your travels, and discover new places through the travels of others. </p>

<p> Currently iTravel allows you to create destinations, edit & delete your destinations, and view destinations of others. Future iterations would allow for destinations sorted by location, subscribe/follow to other iTravelers, and allow users to comment/like posts. </p>

<h3> Let's get started! </h3>
<a href="/user_destinations"> Your Past Destinations </a><br>
<a href="/destinations">All Destinations </a><br>
<a href="/destinations/new">Record New Destination </a>

